{% include "header.html" %}
<title>About IwayEnate</title>
<body>
  <div class="about">
    <h1>Welcome to know about us!</h1>
    <div class = "about-us">
      <h2>This Is What  We Do</h2>
      <p>Our company is a clothing company that enables customers to buy their products online.
        We serve you from your home or you can come to our supermarket!. If you want our service from
        your home, you just have to select your clothes, pay through your credit card and we have a
        delivery service that we will offer. If your interest is to come in person, you will be delighted
        to watch our products.
      </p>
    </div>
  </div>
</body>
{% include "footer.html" %}